<h3>Order History</h3>
<% if @order_history.empty? %>
	<p>You have not made any orders at this time</p>
<% else %>
	<div class="row">
		<div class="small-7 columns">
			
			
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th width="250">Order</th>
			        <th width="125">Date</th>
			      </tr>
			    </thead>
			    <tbody>
			      <% @order_history.each do |order| %>
			        <tr>
			          <td><%= link_to order.id, order_path(order.id) %></td>
			          <td><%= order.date %></td>
			        </tr>
			      <% end %>
		    </tbody>
	  	</table>		
		</div>

	</div>


<% end %>




