<p>List all the users in the system!! only visible to manager / admin</p>

<div class="row">
	<div class="small-7 columns">
		
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th width="250">Name</th>
		        <th width="125">Email</th>
		        <th width="125">Role</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @users.each do |user| %>
		        <tr>
		          <td><%= link_to user.name, user_path(user) %></td>
		          <td><%= user.email %></td>
		          <td><%= user.role %></td>
		        </tr>
		      <% end %>
	    </tbody>
  	</table>		
	</div>
	<div class="small-1 columns">
		&nbsp;
	</div>
	<div class="small-4 columns">
		&nbsp;
	</div>
</div>




