<div class="row">
	<%# render :partial => "partials/page_header" %>
  <div class="col s12">
    <%= render :partial => "user_details" %>
  </div>

  <div class="col s12">
    <%= render :partial => "order_history" %>
  </div>

</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "user", object: @user}  %>