<div class="right login hide-on-med-and-down">
 	<div id="signin" class="btn">
	  <%= link_to 'Sign In', login_path %>
	</div>
	<div id="signup" class="btn">
	  <%= link_to 'Sign Out', logout_path %>
	</div>
</div>