<div class="right login hide-on-med-and-down">
 	<div class="btn btn-white">
	  <%= link_to 'Sign In', login_path %>
	</div>
	<div class="btn btn-black">
	  <%= link_to 'Sign Up', signup_path %>
	</div>
</div>