<div class="navbar-fixed employee-nav">
  <nav class="nav-extended white">
    <div class="nav-wrapper valign-wrapper">
    	<div class="container">

        <div class="brand-logo">
       	 <%= link_to image_tag("logo.png", :alt => "A&M", :class => "css"), home_path %>
        </div>
	    

	      <div class="right">
        	   <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Hello, Rachel!<i class="material-icons right">arrow_drop_down</i></a></li>

	      </div>
<!-- 
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="sass.html">Sass</a></li>
	        <li><a href="badges.html">Components</a></li>
	        <li><a href="collapsible.html">JavaScript</a></li>
	      </ul> -->
	    </div>
    </div>

    <div class="nav-content grey lighten-4 black-text">
    	<div class="container">
	      <ul class="tabs tabs-transparent">
	        <li class="tab"><a href="#test1">Test 1</a></li>
	        <li class="tab"><a class="active" href="#test2">Test 2</a></li>
	        <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
	        <li class="tab"><a href="#test4">Test 4</a></li>
	      </ul>
      </div>
    </div>
  </nav>
</div>