<div id="more_details">

	<h3>More Info</h3>

	<p>
	  <b>Inventory Level</b>: <%= @item.inventory_level.nil? ? 'N/A' : @item.inventory_level %>
	</p>

	<p>
	  <b>Reorder Level</b>: <%= @item.reorder_level.nil? ? 'N/A' : @item.reorder_level %>
	</p>

	<%= link_to(new_purchase_path(item_id: @item.id), id: 'new_purchase_link', class: 'button tiny radius', remote: true) do %>
	      Purchase
	<% end %>

</div>