<% unless @schools.empty? %>
  <div class="panel clearfix">
    <h3>Inactive Schools</h3>
    <ul>
      <% @schools.each do |school| %>
        <li><%= link_to school.name, school_path(school) %></li>
      <% end %>
    </ul>
  </div>
<% end %>