<h2>Schools</h2>

<%= render partial: "partials/index_structure", locals: {model_name: "school", 
                                                         primary: "active_schools", 
                                                         secondary: nil,
                                                         sidebar: "inactive_schools"} %>