<%= form_for @order_item do |f| %>

  <div class="input-field">
    <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
    
    <div class="form-actions">
      <%= f.hidden_field :item_id, value: item.id %>
      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>